table {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  color: black;

}

th,td {
  height: 50px;
  border: 2px solid black;
}

#div1
{
	height: 100%;
	width: 900px;
	overflow-x: hidden;
	overflow: auto;
}